section {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(https://cdn.pixabay.com/photo/2022/10/14/08/03/earbuds-7520738_640.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

#sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.h11 {
    width: 100%;
    font-size: 70px;
}

#btn1 {
    font-size: 20px;
    padding: 10px ;
    color: white;
    background: black;
    border-radius: 5px;
    font-weight: 700;
    margin-top: 7px; /* Add margin to move the button to the next line */
}
